/* stylesheet */

body { color: black; 
       background: white; 
       font-family: sans-serif; 
       width: 60%;
       margin-right: auto;
       margin-left: auto;
}

h1,h2,h3,h4,h5,h6 { color: rgb(55%, 55%, 55%); }

